:root{

    /* Colors */

    --primary:#198754;
    --primary-dark:#146c43;

    --secondary:#6c757d;

    --background:#f5f5f5;

    --white:#ffffff;

    --text:#212529;

    --border:#dee2e6;

    --shadow:0 5px 20px rgba(0,0,0,.15);

    /* Border Radius */

    --radius:10px;

    /* Transition */

    --transition:0.3s;

}